.table {
display:table;
width: 50%;
    border:1px solid #000;
}

p {
font-weight: bold;
font-family: Helvetica, sans-serif;
text-align: center;

}

.row {
    display:table-row;
    height:100%;
}

.messages {
border: double;	
margin-left: 50px;
padding: 0 15px;
}


#console {
position: absolute;
width: 200px;
left: 700px;
top: 100px;
z-index: 1001;	
}

#reset {
display: none;
background-color: yellow;
}


.square {

    display:table-cell;
    width:33%;
    height:100px;
    border:1px solid #CCC;
}
/*

.x {
background-image: url('images/x.png');
}

.o {
background-image: url('images/o.png');
}
*/


